<!DOCTYPE html>
<html>
<head>
    <title>
        <%=t itle %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Hello World</h1>
    <p>Welcome to
        <%=t itle %>
    </p>
    <p>正在登出...</p>
    <script type="text/javascript">
    setTimeout(function() {
        window.location.href = "/";
    }, 500);
    </script>
</body>
</html>
